<!-- <h1>Editar Produto</h1> -->
<!-- <p>produtos-form works!</p> -->
<!-- <h3>ID: {{ id }}</h3> -->
<!-- <h3>Produto: {{ produto.name }}</h3> -->

<div class="container">
    <h1 *ngIf="usandoModal === false">
        {{tituloPagina}}
    </h1>

    <div class="row" *ngIf="usandoModal === false">
        <app-breadcrumb [itens]="itensBreadcrumb"></app-breadcrumb>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="submeterFormulario()">
        <mat-form-field appearance="outline" class="campo-id">
            <mat-label>ID</mat-label>
            <input
                matInput
                formControlName="id"
                readonly
            >
        </mat-form-field>
    
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nome *</mat-label>
                <input
                    matInput
                    placeholder="Nome" 
                    formControlName="name"
                >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint *ngIf="nome && !nome.valid && nome.touched">
                    Campo Nome é obrigatório
                </mat-hint> <!-- com a variável local "nome" consigo acessar atributos do formulário disponibilizados pela diretiva Form -->
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <!-- <input matInput placeholder="Nome do produto" value="{{ produto.name }}"> -->
                <input
                    matInput
                    placeholder="Peso"
                    formControlName="weight"
                >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-hint *ngIf="nome && !nome.valid && nome.touched">
                    Campo Nome é obrigatório
                </mat-hint>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Símbolo</mat-label>
                <textarea
                    matInput
                    placeholder="Símbolo"
                    formControlName="symbol"
                ></textarea>
            </mat-form-field>
        </p>    
    
        <div class="botoes" *ngIf="usandoModal === false">
            <button
                mat-raised-button color="primary"
                type="button"
                (click)="cancelar()"
            >
                Cancelar
            </button>            
            <button
                [disabled]="!formulario.valid"
                mat-raised-button color="primary"
            >
                Salvar
            </button>
        </div>
    </form>
</div>

