<h1>EDITAR PRODUTO</h1>
<!-- <p>produtos-form works!</p> -->
<!-- <h3>ID: {{ id }}</h3> -->
<!-- <h3>Produto: {{ produto.name }}</h3> -->

<form #formulario="ngForm" (ngSubmit)="submeterFormulario(formulario)">
    <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput name="campoId" [(ngModel)]="produto.id" readonly>
    </mat-form-field>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Produto</mat-label>
            <!-- <input matInput placeholder="Nome do produto" value="{{ produto.name }}"> -->
            <input matInput placeholder="Nome do produto" 
                id="campoNome" name="campoNome" [(ngModel)]="produto.name" 
                required #nome="ngModel"> <!-- input variável local "nome" -->
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint *ngIf="nome && !nome.valid && nome.touched">Campo Nome é obrigatório</mat-hint> <!-- com a variável local "nome" consigo acessar atributos do formulário disponibilizados pela diretiva Form -->
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Observações</mat-label>
            <input matInput placeholder="Observações" value="" name="campoObservacoes" [(ngModel)]="produto.symbol">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>    

    <p>
        <button [disabled]="!formulario.valid" mat-raised-button color="primary">Salvar</button>
    </p>
    <p> <!-- botão duplicado para testes -->
        <button [disabled]="!formulario.valid" mat-raised-button color="primary">Salvar</button>
    </p>    
</form>
