<mat-grid-list cols="1" rowHeight="4:2">
  <!-- <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile> -->

  <mat-grid-tile-header><h1>Visualizar Produtos do Estoque</h1></mat-grid-tile-header>
  <!-- <mat-grid-tile>Título</mat-grid-tile> -->
  <!-- <mat-grid-tile class="filtro">Filtro</mat-grid-tile> -->
  <mat-grid-tile>
    <app-produtos-lista></app-produtos-lista>
  </mat-grid-tile>
  
  <mat-grid-tile-footer><small>Todos os direitos reservados - 2019</small></mat-grid-tile-footer>
</mat-grid-list>